* {
   margin: 0;
   box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(2, 2, 128), rgb(2, 2, 131));
  color: #DDF;
}

header{
  text-align: center;
}


#container {

  height: 100vh;
  width: 95vw;
}

form {
  display: flex;
  justify-content: center;
}


#inputWrapper {
  width: 100%;
  margin-left: 1vw;

}

#cardSection {
  display: flex;
  flex-direction: column;

}

#buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

button, input {
  width: 100%;
}


@media only screen and (min-width: 768px) and (max-width: 1220px) {

  #cardSection{
    display: grid;
    width: auto;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    grid-column-gap: 10px;
    align-items: stretch;
    justify-content: center;

   
  }

 
}

@media only screen and (min-width: 1221px) {
  #cardSection {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  }
}